{% load static %}

<!DOCTYPE html>

<html lang="">

<head>
<title>Avodha Shopping</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'fr/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url({% static 'fr/images/demo/backgrounds/bg1.jpg' %});">
  <!-- ################################################################################################ -->

  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <!-- ################################################################################################ -->
        <h1><a href="/">Avodha Shopping</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right">

        <ul class="clear">
           <li><a href="/"><i class="fas fa-home"></i></a></li>
<!--          <li class="active"><a href="/">Home</a></li>-->
          <li class="active"><a href="{% url 'cartDetails' %}" style="font-size:24px;color:red;">
          <i class="fa fa-shopping-cart" style="font-size:24px;color:red;"></i>&nbsp;
          {{itc}}</a></li>




<!--          <li class="btn" href="#">Login</li>-->
        </ul>



      </nav>
    </header>
  </div>

</div>
{% block content %}
{% endblock %}
</body>
</html>
